<%= form_for @comment_new, remote: true do |f| %>
  <%= render "shared/error_messages", object: f.object %>
  <div class="field">
    <%= f.hidden_field :micropost_id, value: @micropost.id %>
    <%= f.text_area :content, placeholder: t("content")+"...",
      class: "form-control", id: "comment_field",  required: true %>
  </div>
  <%= f.submit t("post"), class: "btn btn-primary"%>
<% end %>
